@model CleaningPlan

<div>
    <p><a asp-action="Index"> <- To plans </a></p>

    <h2>Cleaning plan: @Model.PlanName</h2>

    <img src="~/images/@Model.MainPhoto" style="width:300px" />

    <h3>Town: @Model.Location.Town, @Model.Location.Region</h3>
    <h3>Address: @Model.Address</h3>

    <h3>Date: @Model.PlanDate.ToString("dd/MM/yyyy hh:mm")</h3>

    <h3>Creator: @Model.Creator.UserName (@Model.Creator.Email).</h3>
    @if(ViewBag.CurrectUserId == Model.CreatorId)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" role="button" class="btn btn-warning">Edit my plan</a>

        <!-- Trigger -->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
          Delete my plan
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Delete plan?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form method="post" asp-action="Delete" asp-route-id="@Model.Id">
                    <input type="submit" value="Delete my plan" class="btn btn-danger" />
                </form>
              </div>
            </div>
          </div>
        </div>
    }
</div>